@media screen and (max-width: 1024px) {
    html {
        font-size: 58%;
    }
    #header {
        display: none;
    }
    #gnb {
        position: fixed;
        width: 100%;
        z-index: 999;
    }
    #gnb .gnb-depth1 {
        display: none;
    }
    #gnb .gnb-side .gnb-depth1 {
        display: block;
    }
    /* gnb 고정하고 side바 트리거 생성 */
    #gnb .btn-group .btn-trigger {
        display: block;
    }
    .gnb-side {
        display: block;
    }
    /* main banner */
    #main-banner {
        margin-top: 80px;
    }
    /* article */
    .article-content .article-left {
        flex: 1;
    }
    .article-content .article-right {
        flex: 1;
    }
}

@media screen and (max-width: 786px) {
    html {
        font-size: 55%;
    }
    /* main banner */
    .banner-slide .banner-text {
        font-size: 2rem;
    }
    /* gallery */
    /* layout */
    .gallery .feature {
        height: 180px;
        margin-bottom: 20px;
    }
    .left {
        width: 100%;
        margin: 0;
    }
    .right {
        display: block;
        width: 100%;
        margin-left: 0;
        margin: 0;
    }
    /* style */
    .gallery .feature .feature-text {
        padding-left: 2rem
    }
    .gallery .feature .feature-text .feature-text-desc {
        font-size: 1.8rem;
        line-height: 1.5;
    }
    /* slide */
    .slide-item {
        height: 38rem;
    }
    .slide-item img {
        object-position: bottom;
    }
    .slide-item .slide-text {
        color: white;
        text-shadow: 2px 2px 5px rgb(0 0 0 / 50%);
    }
    .slide-item .slide-text .slide-text-desc {
        font-weight: 900;
        font-size: 1.8rem;
    }
    .slick-dots li {
        padding: 2rem 0.5rem;
    }
    /* article */
    #article .wrap {
        height: auto;
    }
    .article-content {
        display: block;
    }
    .article-content .article-left {
        height: 100%;
        margin-right: 0;
        margin-bottom: 2rem;
    }
    .article-list {
        padding-top: 1rem;
    }
    .article-list-content {
        padding: 1rem;
    }
    .article-list-content .article-list-text {
        padding-top: 1rem;
    }
    .article-list-content .article-list-text .article-list-title {
        font-size: 1.8rem;
    }
    /* subbanner */
    .subbanner-content .subbanner-text {
        text-shadow: 2px 2px 5px rgb(0 0 0 / 50%);
        padding: 1rem;
    }

    .subbanner-content .subbanner-text .subbanner-text-title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .subbanner-content .subbanner-text .subbanner-text-desc {
        font-size: 1.6rem;
        margin: 1rem 0;
    }
    /* subbanner */
    .notice-title {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
    }
    .notice-desc {
        font-size: 2rem;
        font-weight: 600;
    }
    /* footer */
    .footer-nav .wrap {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer-nav .wrap > div {
        width: 50%
    }
    .footer-info .wrap {
        flex-wrap: wrap;
    }
    .footer-info .wrap ul {
        width: 100%;
        margin-bottom: 10px;
    }
    .footer-info .wrap p {
        width: 100%;
        margin-bottom: 10px;
    }
}