@media screen and (max-width: 1024px) {
    /* main banner */
    #main-banner {
        margin-top: 80px;
    }
    /* article */
    .article-content .article-left {
        flex: 1;
    }
    .article-content .article-right {
        flex: 1;
    }
}

@media screen and (max-width: 786px) {
    /* main banner */
    .banner-slide .banner-text {
        font-size: 2rem;
    }
    /* gallery */
    /* layout */
    .gallery .feature {
        height: 180px;
        margin-bottom: 20px;
    }
    .left {
        width: 100%;
        margin: 0;
    }
    .right {
        display: block;
        width: 100%;
        margin-left: 0;
        margin: 0;
    }
    /* style */
    .gallery .feature .feature-text {
        padding-left: 2rem
    }
    .gallery .feature .feature-text .feature-text-desc {
        font-size: 1.8rem;
        line-height: 1.5;
    }
    /* slide */
    .slide-item {
        height: 38rem;
    }
    .slide-item img {
        object-position: bottom;
    }
    .slide-item .slide-text {
        color: white;
        text-shadow: 1px 1px 3px rgba(0,0,0,.4),
                    3px 3px 3px rgba(0,0,0,.4);
    }
    .slide-item .slide-text .slide-text-desc {
        font-weight: 900;
        font-size: 1.8rem;
    }
    .slick-dots li {
        padding: 2rem 0.5rem;
    }
    /* article */
    #article .wrap {
        height: auto;
    }
    .article-content {
        display: block;
    }
    .article-content .article-left {
        height: 100%;
        margin-right: 0;
        margin-bottom: 2rem;
    }
    .article-list {
        padding-top: 1rem;
    }
    .article-list-content {
        padding: 1rem;
    }
    .article-list-content .article-list-text {
        padding-top: 1rem;
    }
    .article-list-content .article-list-text .article-list-title {
        font-size: 1.8rem;
    }
    /* subbanner */
    .subbanner-content .subbanner-text {
        text-shadow: 2px 2px 5px rgb(0 0 0 / 50%);
        padding: 1rem;
    }

    .subbanner-content .subbanner-text .subbanner-text-title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .subbanner-content .subbanner-text .subbanner-text-desc {
        font-size: 1.6rem;
        margin: 1rem 0;
    }
    /* subbanner */
    .notice-title {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
    }
    .notice-desc {
        font-size: 2rem;
        font-weight: 600;
    }
}