html {
    font-size: 62.5%;
    width: 100vw !important;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    width: 100vw !important;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}
body::-webkit-scrollbar {
    display: none;
}

/* root */
:root {
    --primary: #000;
    --primary-light: #212121;
    --text-black: #000;
    --text-gray: #848484;
    --text-white: #fff;
    --border: #484848;
    --secondary: #ed1c24;
    --secondary-light: #ff5f4e;
    --secondary-dark: #b20000;
    --tertiary: #fff;
}
/* common */
/* lay out */
.wrap {
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
    overflow: hidden;
}
/* last arrow icon style */
.last-arrow {
    color: var(--secondary);
}
/* a tag only for link */
.link-only {
    display: block;
    width: 100%;
    height: 100%;
}
/* a tag hover overlay */
.ef-overlay {
    position: relative;
}
.ef-overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    transition: 0.3s ease-in-out;
    opacity: 0;
}
.ef-overlay:hover::after {
    opacity: 1;
}
/* a tag hover inset box-shadw */
.ef-innerborder {
    transition: box-shadow 0.5s ease-in-out;
}
.ef-innerborder:hover {
    box-shadow: 0 -5px 0 inset var(--secondary-light),
                0 5px 0 inset var(--secondary-light);
}

/* common layout */

/* ###### header ##### */
#header {
    height: 40px;
    line-height: 40px;
    color: var(--text-gray);
    background: var(--primary-light);
    border-bottom: 1px solid var(--border);
    font-size: 14px;
}
#header .wrap {
    height: 100%;
    overflow: visible;
}
#header a {
    display: block;
    padding: 0 10px;
}
.header-left {
    float: left;
    font-size: 1.3rem;
}
.header-left {
    font-weight: 800;
}
.header-right {
    float: right;
}
.header-right > ul {
    height: 100%;
}
.header-right > ul > li {
    position: relative;
    float: left;
    margin-left: 1.5rem;
}
#header .header-menu {
    display: none;
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: auto;
    padding: 2rem 0 0 0;
    background: black;
    color: white;
    line-height: 1;
    z-index: 999;
}
#header .header-menu-container .wrap {
    display: flex;
    flex-wrap: wrap;
}
#header .header-menu .header-menu-item {
    display: flex;
    padding: 0 1rem;
    width: 25%;
    height: 250px;
}
#header .header-menu .header-menu-item.wide {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
}
#header .header-menu .header-menu-item .header-menu-img {
    padding-right: 2rem;
    flex: 1;
}
#header .header-menu .header-menu-item .header-menu-list {
    flex: 2;
}
#header .header-menu .header-menu-item .header-menu-list h6 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--border);
}
#header .header-menu .header-menu-item .header-menu-list h6 > a {
    padding: 0;
    padding-bottom: 1rem;

}
#header .header-menu .header-menu-item .header-menu-list h6 span {
    display: block;
    font-size: 1.3rem;
    margin: 1rem 0;
    font-weight: normal;
    color: #999;
}
#header .header-menu .header-menu-item .header-menu-list li a {
    display: block;
    height: 3rem;
    padding: 0;
    line-height: 3rem;
    font-weight: 500;
}
#header .header-menu .header-menu-item a {
    transition: color 0.3s ease-in-out;
}
#header .header-menu .header-menu-item a:hover {
    color: #666;
}

/* input */
.header-right label {
    cursor: pointer;
}
#input-search {
    max-width: 80px;
    margin-right: 10px;
    height: 20px;
    padding-left: 2rem;
    cursor: pointer;
    border-radius: 10px;
    transition: .5s
}
#input-search::placeholder {
    line-height: 20px;
    padding-right: 10px;
    float: right;
    transition: .5s;
}
#input-search:focus {
    max-width: 20rem;
    transition: .5s;
    background: white;
}
#input-search:focus::placeholder {
    opacity: 0;
}
/* lang-list  */
#lang-list {
    position: relative;
    padding: 0 10px;
    color: var(--text-gray);
}
#lang-list option{
    position: absolute;
    background: var(--primary-light);
    border-bottom: 1px solid var(--border);
}

.header-right ul li .btn-link {
    border-radius: 5px;
    padding: 5px 15px;
    color: var(--text-white);
    background: var(--secondary); 
    transition: background-color 0.2s;
    cursor: pointer;
}
.header-right ul li .btn-link i {
    padding-right: 5px;
}
.header-right ul li .btn-link:hover {
    background: var(--secondary-dark);
}

/* nav */
#gnb {
    position: relative;
    height: 80px;
    line-height: 80px;
    background: var(--primary);
    border-bottom: 1px solid var(--border);
}
#gnb .logo-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    float: left;
    margin-right: 42px;
}
#gnb .gnb-depth1 {
    float: left;
    color: white;
    overflow: hidden;
}
#gnb .gnb-depth1 > li {
    float: left;
    font-size: 14px;
}
#gnb .gnb-depth1 > li > a {
    display: block;
    padding: 0 15px;
    transition: color 0.2s;
}
#gnb .gnb-depth1 > li:hover > a {
    color: var(--secondary);
}
#gnb .gnb-depth1 > li:hover .gnb-depth2 {
    max-height: 45px;
}
#gnb .gnb-depth2 {
    position: absolute;
    background: #000;
    max-height: 0px;
    line-height: 45px;
    top: 80px;
    left: 0;
    right: 0;
    overflow: hidden;
    transition: max-height 0.2s;
    z-index: 999;
}
#gnb .gnb-depth2 > .wrap {
    padding: 0 145px;
}
#gnb .gnb-depth2 li {
    float: left;
}
#gnb .gnb-depth2 li > a {
    display: block;
    padding: 0 15px;
    transition: color 0.2s;
}
#gnb .gnb-depth2 li > a:hover {
    color: var(--secondary);
}
#gnb .btn-group {
    display: flex;
    align-items: center;
    float: right;
    color: var(--text-white)
}
/* btn cart */
#gnb .btn-group a {
    display: inline-block;
    padding: 0 15px;
}
#gnb .btn-cart {
    font-size: 2.4rem;
}
#gnb .btn-cart i {
    position: relative;
}
#gnb .btn-cart i::after {
    content: '0';
    position: absolute;
    right: -5px;
    top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    width: 15px;
    height: 15px;
    background: var(--secondary);
    border-radius: 50%;
}
/* .btn-trigger */
#gnb .btn-group .btn-trigger {
    display: none;
    position: relative;
    width: 25px;
    height: 25px;
}
#gnb .btn-group .btn-trigger span {
    position: absolute;
    top: 10%;
    height: 2px;
    width: 100%;
    background: white;
    transition: 0.5s ease-in-out;
}
#gnb .btn-group .btn-trigger span:nth-child(2) {
    top: 50%;
}
#gnb .btn-group .btn-trigger span:nth-child(3) {
    top: 90%;
}
#gnb .btn-group .btn-trigger.active span:nth-child(1) {
    top: 50%;
    transform: rotate(225deg);
}
#gnb .btn-group .btn-trigger.active span:nth-child(2) {
    opacity: 0;
}
#gnb .btn-group .btn-trigger.active span:nth-child(3) {
    top: 50%;
    transform: rotate(-225deg);
}
/* gnb-side */
.gnb-side {
    display: none;
    position: fixed;
    top: 80px;
    right: 0;
    width: 30rem;
    height: calc(100vh - 80px);
    background: #000;
    transform: translateX(30rem);
    transition: transform 0.5s ease-in-out;
    z-index: 99;
}
.gnb-side.active {
    transform: translateX(0);
}
#gnb .gnb-side .gnb-depth1 {
    float: none;
    text-align: center;
}
#gnb .gnb-side .gnb-depth1 > li {
    float: none;
    display: block;
}
#gnb .gnb-side .gnb-depth1 > li > a{
    font-weight: bold;
}
#gnb .gnb-side .gnb-depth2 {
    position: static;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}
#gnb .gnb-side .gnb-depth1 > li:hover .gnb-depth2 {
    max-height: calc(45px * 5);
}
#gnb .gnb-side .gnb-depth2 > li{
    float: none;
}


/*#### footer ####*/
#footer {
    background: #000;
    color: white;
}
/* footer nav */
.footer-nav {
    border-bottom: 1px solid var(--border);
}
.footer-nav .wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
}
.footer-nav  ul {
    margin-bottom: 3rem;
}
.footer-nav  ul .footer-nav-title {
    padding: 1rem 0;
    font-size: 1.4rem;
    font-weight: 900;
}
.footer-nav ul li {
    font-size: 1.4rem;
    padding: 0.5rem 0;
    transition: 0.3s ease-in-out;
}
.footer-nav ul li:hover:not(.footer-nav-title) {
    color: var(--text-gray);
} 
/* footer info */
.footer-info {
    padding: 4rem 0;
    font-size: 1.4rem;
}
.footer-info .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-info .wrap ul {
    overflow: hidden;
    max-width: 500px;
}
.footer-info .wrap ul li {
    float: left;
    line-height: 2.8rem;
    color: var(--text-gray);
    margin-right: 1rem;
}
.footer-info .wrap ul li span{
    color: var(--text-white);
}
.footer-link {
    display: inline-flex;
    align-items: center;
}
.footer-link img {
    margin-right: 10px;    
}

/* btn top */
.btn-top {
    position: fixed;
    right: 25px;
    bottom: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: var(--secondary-light);
    font-size: 24px;
    color: white;

    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}
.btn-top.active {
    opacity: 1;
    visibility: visible;
}
.btn-top:hover {
    background: var(--secondary);
}