* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}
ul,li {
    list-style: none;
}
button,input,select {
    outline: none;
    border: none;
    background: transparent;
    appearance: none;
}