body {
    background: #000;
    color: white;
}

/* main banner */
.main-banner img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

/* main text */
.main-text {
    margin: 5rem;
}
.main-text > .wrap{
    text-align: center;
}

.main-text .title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.main-text .main-desc {
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.main-text .sub-desc {
    font-size: 2rem;
}

/* subcontents */

.subcontents {
    
}

.subcontents .item {
    display: flex;
    margin-bottom: 5rem;
}
.subcontents .item.wide {
    display: block;
}
.subcontents .item-img {
    flex: 1;
}
.subcontents .item-text {
    flex: 1;
    padding: 2rem;
    line-height: 3rem;
}
.subcontents .item-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
