@media screen and (max-width: 1024px) {
    /* main banner */
    .main-banner {
        margin-top: 80px;
        position: fixed;
        z-index: -1;
    }
    /* main-text */
    .main-text {
        margin-top: calc(524px + 80px + 5rem);
    }
}

@media screen and (max-width: 786px) {
    /* sub contents */
    .subcontents .item {
        display: block;
        margin-bottom: 5rem;
    }
}